<div id="main">
    <div id="left">
        <% @articles.each do |article| %>

            <ul>
            <% if article.is_display %>
                    <li><%= link_to article.title, article_path(article.id) %></li>
            <% end %>
            </ul>

        <% end %>
        </div>

        <div id="right">
            <div id="latest-contents">
            <h3>最新の記事</h3>
            <ul>
                <% @articles.each do |article| %>
                    <li><%= link_to article.title, admin_article_path(article.id) %></li>
                <% end %>
            </ul>
            </div>

            <div id="news">
            <h3>お知らせ</h3>
            </div>

            <div id="contact">
            <h3>ご意見・お問い合わせ</h3>
            <div id="front-contact">
                <p>*お名前と連絡先は任意です。</p>
                <p>*記事や機能の要望、改善すべき点を送信ください。</p>
                <p>*是非、反映させていただきたいと思います。</p>
            </div>

            <%= form_for @contact, url: contacts_path do |f| %>
                <p>お名前</p>
                <%= f.text_field :nickname %>

                <p>連絡先</p>
                <%= f.text_field :address %>

                <p>内容</p>
                <%= f.text_area :text %>

                <div id="contact-button">
                    <%= submit_tag "送信" %>
                </div>
            <% end %>

        </div>
    </div>
</div>
