<div id="new-page">
  <div id="editor">
    <div id="admin-right">
      <%= form_for [:admin, @article] do |f| %>
        <p>タイトル</p>
        <%= f.text_field :title, class: 'title' %>

        <p>導入文</p>
        <%= f.text_area :intro, class: 'small-input' %>

        <p>要約</p>
        <%= f.text_area :point, class: 'small-input' %>

        <p>目次</p>
        <%= f.text_area :topic, class: 'middle-input' %>

        <p>本文</p>
        <%= f.text_area :text, class: 'big-input', "v-model":"input" %>

        <div class="submit">
          <%= submit_tag "作成" %>
        </div>
      <% end %>
    </div>

    <div id="admin-left">
      <p>プレビュー</p>
      <div v-html="input | marked"></div>
    </div>
  </div>
</div>


<script>
window.onload = function() {
new Vue({
el: '#editor',
data: {
  input: '<%== j @article.text %>',
},
filters: {
  marked: marked,
},
});
};
</script>
