<% set_meta_tags title: @article.title, description: @article.point, og: { title: @article.title, type: 'article', image: image_url('icon.jpg') } %>
<div id="main">
    <div id="left">
        <div id="container">

            <div id="title">
                <h1><%= @article.title %></h1>
            </div>
            <%= link_to 'Twitter', "https://twitter.com/share?url=#{request.url}&text=#{@article.title}", class: 'shareList__link icon-twitter', data: { show_count: false }, title: 'Twitter', target: '_blank' %>
            <%= link_to 'Facebook', "https://www.facebook.com/sharer/sharer.php?u=#{request.url}&text=#{@article.title}", class: 'shareList__link icon-twitter', data: { show_count: false }, title: 'Twitter', target: '_blank' %>

            <div id="intro">
                <%= markdown(@article.intro) %>
            </div>

            <div id="topic">
                <h2>この記事の目次</h2>
                <div id="topic-contents">
                    <%= markdown(@article.topic) %>
                </div>
            </div>

            <div id="content">
                <%= sanitize markdown(@article.text) %>
            </div>

        </div>
    </div>

    <div id="right">
        <div id="article-topic">
            <h3>この記事の目次</h3>
            <%= markdown(@article.topic) %>
        </div>

    	<div id="latest-contents">
            <h3>最新の記事</h3>
            <ul>
                <% @articles.each do |article| %>
                    <li><%= link_to article.title, article_path(article.id) %></li>
                <% end %>
            </ul>
        </div>

        <div id="contact">
            <h3>ご意見・お問い合わせ</h3>
            <div id="front-contact">
                <p>*お名前と連絡先は任意です。</p>
                <p>*記事や機能の要望、改善すべき点を送信ください。</p>
                <p>*是非、反映させていただきたいと思います。</p>
            </div>
            <%= form_for @contact, url: contacts_path do |f| %>
                <p>お名前</p>
                <%= f.text_field :nickname %>

                <p>連絡先</p>
                <%= f.text_field :address %>

                <p>内容</p>
                <%= f.text_area :text %>

                <div id="contact-button">
                    <%= submit_tag "送信" %>
                </div>
            <% end %>
        </div>

    </div>
</div>
