<h1>This is admin Top page</h1>
<%= link_to '記事を作成', new_admin_article_path %>
<table>
<tr>
<td>記事タイトル</td>
<td>公開設定</td>
<td>コマンド</td>
</tr>

<% @articles.each do |article| %>
<tr>
<td><%= link_to article.title, admin_article_path(article.id) %></td>

<% if article.is_display %>
<td><%= link_to "非表示", (url_for controller: "admin/articles", action: "change_display", id: article.id) %>
<% else %>
<td><%= link_to "表示", (url_for controller: "admin/articles", action: "change_display", id: article.id) %>
<% end %>

<td><%= link_to "編集", edit_admin_article_path(article.id) %></td>
<td><%= link_to "削除", admin_article_path(article.id),  :method => :delete, :confirm => 'Are you sure?' %>
</tr>
<% end %>
</table>
