<!DOCTYPE html>
<html>

<head>
  <title>TechDeeperのAdmin</title>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/1.0.10/vue.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/marked/0.3.5/marked.js"></script>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag    'admin/common', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <meta name="robots" content="noindex,nofollow">
</head>

<body>

<header>
    <nav>
        <ul>
            <li><%= link_to '記事管理', admin_root_path %></li>
            <li><%= link_to 'お問い合わせ管理', admin_contacts_path %></li>
            <li><%= link_to 'お知らせ管理', admin_news_index_path %></li>
            <li><%= link_to 'コマンド管理', admin_commands_path %></li>
            <li><%= link_to 'エラー管理', admin_errors_path %></li>
        </ul>
    </nav>
</header>

<%= yield %>

</body>
</html>
